<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, width=device-width" name="viewport">
	<title>We Media</title>

	<!-- css (come from Daemonite-material) -->
	<link href="{{ static_url("css/base.min.css") }}" rel="stylesheet">
	<!-- css for this project (come from Daemonite-material) -->
	<link href="{{ static_url("css/project.min.css") }}" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- css by my -->
	<link href="{{ static_url("css/we_media_editor.css") }}" rel="stylesheet">

	<!-- favicon -->
	<!-- ... -->

	<!-- ie -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	


</head>

<body class="avoid-fout page-brand">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- operator bar-->
	<nav class="header header-transparent affix operatorbar-waterfall">
		<ul class="nav nav-list pull-left">
			<li class="dropdown">
				<a class="dropdown-toggle waves-attach waves-effect" data-toggle="dropdown" aria-expanded="false"><span class="icon icon-lg">more_vert</span></a>
				<ul class="dropdown-menu dropdown-menu-bykevin_dropup">
					<li>
						<a class="waves-attach waves-effect" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>&nbsp;Lorem Ipsum</a>
					</li>
					<li>
						<a class="waves-attach waves-effect" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>&nbsp;Consectetur Adipiscing</a>
					</li>
					<li>
						<a class="waves-attach waves-effect" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>&nbsp;Sed Ornare</a>
					</li>
				</ul>
			</li>
			<li>
				<a class="waves-attach waves-effect"><span class="icon margin-right-sm">loop</span>&nbsp;xxxxx</a>
			</li>
		</ul>
	</nav>
	
	
	<header class="header header-transparent header-waterfall">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<a class="header-logo margin-left-no" href="index.html">Material</a>
		<ul class="nav nav-list pull-right">
			<li>
				<a data-toggle="menu" href="#profile">
					<span class="access-hide">John Smith</span>
					<span class="avatar"><img alt="alt text for John Smith avatar" src="{{ static_url("images/users/avatar-001.jpg") }}"></span>
				</a>
			</li>
		</ul>
	</header>
	
	
	
	<div class="content" id="art_body">
		<div class="content-heading">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
						<h1 class="heading operator_element" id="art_title">Material</h1>
						<a class="fbtn operator_fbtn" id="art_title_e"><span class="fbtn-text">edit</span><span class="icon">border_color</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
					<section class="content-inner">
						<p>Material is an HTML5 UI design based on Google Material.</p>
						<blockquote>
							<p>A visual language for our users that synthesizes the classic principles of good design with the innovation and possibility
								of technology and science. This is material design.</p>
							<p><a class="text-break" href="http://www.google.com/design/spec/material-design/introduction.html">http://www.google.com/design/spec/material-design/introduction.html</a></p>
						</blockquote>
						<p>Have a play with a <a href="http://daemonite.github.io/material/">working prototype of Material</a>, let us know what
							you think at the <a href="http://labs.daemon.com.au">Daemon Labs</a> forum.</p>
						<h2 class="content-sub-heading">Components</h2>
						<div class="tile-wrap">
							<a class="tile waves-attach" href="ui-card.html">
								<div class="tile-inner">
									<span>Cards</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-collapse.html">
								<div class="tile-inner">
									<span>Collapsible Regions</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-dropdown.html">
								<div class="tile-inner">
									<span>Dropdowns</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-modal.html">
								<div class="tile-inner">
									<span>Modal &amp; Toasts</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-nav.html">
								<div class="tile-inner">
									<span>Navs</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-progress.html">
								<div class="tile-inner">
									<span>Progress Bars</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-tab.html">
								<div class="tile-inner">
									<span>Tabs</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-tile.html">
								<div class="tile-inner">
									<span>Tiles</span>
								</div>
							</a>
						</div>
						<h2 class="content-sub-heading">Elements</h2>
						<div class="tile-wrap">
							<a class="tile waves-attach" href="ui-button.html">
								<div class="tile-inner">
									<span>Button</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-form.html">
								<div class="tile-inner">
									<span>Form Elements <small>(basic)</small></span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-form-adv.html">
								<div class="tile-inner">
									<span>Form Elements <small>(materialised)</small></span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-icon.html">
								<div class="tile-inner">
									<span>Icons</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-table.html">
								<div class="tile-inner">
									<span>Tables</span>
								</div>
							</a>
						</div>
						<h2 class="content-sub-heading">Sample Pages</h2>
						<div class="tile-wrap">
							<a class="tile waves-attach" href="page-login.html">
								<div class="tile-inner">
									<span>Login Page</span>
								</div>
							</a>
							<a class="tile waves-attach" href="page-palette.html">
								<div class="tile-inner">
									<span>Page Palettes</span>
								</div>
							</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	
	
	<footer class="footer">
		<div class="container">
			<p>Material</p>
		</div>
	</footer>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-brand-accent fbtn-lg" id="btn_save"><span class="fbtn-text">Links</span><span class="fbtn-ori icon">add</span><span class="fbtn-sub icon">close</span></a>
		</div>
	</div>

	<!-- js -->
	<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{ static_url("js/base.min.js") }}"></script>

	<!-- js for this project -->
	<script src="{{ static_url("js/project.min.js") }}"></script>
	<script src="{{ static_url("create_article.js") }}"></script>
	
	<script type="text/javascript">
		var jcontent = "this is test string";
		function getCookie(name) {
		    var c = document.cookie.match("\\b" + name + "=([^;]*)\\b");
		    return c ? c[1] : undefined;
		}

		$('#btn_save').on('click', function () {
			var _xsrf = getCookie("_xsrf");
			
			$.ajax({
				type: 'POST',
				url: 'http://{{ request.host }}/wjson',
				dataType: "json",
				data: {"content": jcontent, "_xsrf": _xsrf},
				success: function(data){
					$('body').toast({ alive: 2000, content: data.msg });
					// $("#dict_words").html("");
// 					// alert(data.length);//输出root的子对象数量
// 					$.each(data,function(idx,item){
// 						var c = $(word_card);
// 						c.attr("id", "word-"+idx);
// 						c.find("#word_title").html(item.word);
// 						c.find("#word_content").html(item.content);
// 						c.find("#word_content").find("a").each(function(n,obj) {
// 							$(obj).attr("href","#");
// 							$(obj).click(function(){
// 								searchWord($(this).text());
// 							});
// 						});
// 						$("#dict_words").append(c);
					// }); 
				}
			});
		});
		
		//get article
			$.ajax({
				type: 'GET',
				url: 'http://{{ request.host }}/rjson',
				dataType: "json",
				data: {},
				success: function(data){
					// $("#art_body").text(data.msg);
					// $("#dict_words").html("");
// 					// alert(data.length);//输出root的子对象数量
// 					$.each(data,function(idx,item){
// 						var c = $(word_card);
// 						c.attr("id", "word-"+idx);
// 						c.find("#word_title").html(item.word);
// 						c.find("#word_content").html(item.content);
// 						c.find("#word_content").find("a").each(function(n,obj) {
// 							$(obj).attr("href","#");
// 							$(obj).click(function(){
// 								searchWord($(this).text());
// 							});
// 						});
// 						$("#dict_words").append(c);
					// }); 
				}
			});
			
		//set operator_fbtn hover method
			$(".operator_element").each(function(n,obj) { 
				var obj_id = $(obj).attr("id");
				var edt_btn = $("#"+obj_id+"_e");
				// $(obj).addClass("art-sentence-flat");
// 				$(obj).addClass("art-sentence-noshadow");
// 				$(obj).attr("id", "art-sentence-"+n);
				edt_btn.hover(
					function(){
						//当鼠标放上去的时候,程序处理
						$("#"+obj_id).addClass("operator_highlight");
					},
					function(){
						//当鼠标离开的时候,程序处理
						$("#"+obj_id).removeClass("operator_highlight");
				});
				
				
				
			});
		
	</script>
</body>

</html>